<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Visualizar Chamados</h2>
            </div>
            <div class="p-2">
                <span class="d-none d-md-block">
                    <a href="/admin/chamados" class="btn btn-outline-info btn-sm">Listar</a>
                    <a href="/admin/edit-chamado/{{chamados._id}}" class="btn btn-outline-warning btn-sm">Editar</a>
                    <a href="/admin/del--chamado/{{chamados._id}}" class="btn btn-outline-danger">Apagar</a>
                </span>
                <div class="dropdown d-block d-md-none">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ações
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                        <a class="dropdown-item" href="/admin/chamados">Listar</a>
                        <a class="dropdown-item" href="/admin/edit-chamados/{{chamados._id}}">Editar</a>
                        <a class="dropdown-item" href="/admin/del-chamado/{{chamados._id}}" data-toggle="modal"
                            data-target="#apagarRegistro">Apagar</a>
                    </div>
                </div>
            </div>
        </div>
        {{>_msg}}
       
        <hr>

        <dl class="row">
            <dt class="col-sm-3">Categoria</dt>                          
            <dd class="col-sm-9">{{chamado.catchamados.nome}}</dd>

            <dt class="col-sm-3">Número do chamado</dt>
            <dd class="col-sm-9">{{chamado.numero}}</dd>

            <dt class="col-sm-3">Assunto</dt>
            <dd class="col-sm-9">{{chamado.assunto}}</dd>

            <dt class="col-sm-3">Descrição</dt>
            <dd class="col-sm-9">{{chamado.descricao}}</dd>
        </dl>
    </div>

</div>